{% extends 'base.html' %}
{% load static %}

{% block title %}حمایت مالی{% endblock %}

{% block content %}
<section class="py-20 bg-gray-50">
    <div class="container mx-auto px-4">
        <div class="text-center mb-16">
            <h2 class="text-3xl md:text-4xl font-bold mb-4">حمایت از آزادی‌‌هاب</h2>
            <p class="text-xl text-gray-600 max-w-2xl mx-auto">با حمایت مالی، به ما کمک کنید تا کانفیگ‌های رایگان را به‌روزرسانی کنیم</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 max-w-5xl mx-auto">  <!-- 4 کارت -->
            <div class="bg-white p-8 rounded-2xl shadow-lg border border-gray-100">
                <h3 class="text-xl font-bold mb-4">Bitcoin (BTC)</h3>
                <pre class="text-sm bg-gray-100 p-4 rounded-lg crypto-address">bc1qay7knee8dww3a4cqjfdlt4qk42kf97vhe7cq75</pre>
                <button onclick="navigator.clipboard.writeText('bc1qay7knee8dww3a4cqjfdlt4qk42kf97vhe7cq75')" class="bg-blue-600 text-white px-4 py-2 rounded-lg mt-4">کپی آدرس</button>
            </div>
            <div class="bg-white p-8 rounded-2xl shadow-lg border border-gray-100">
                <h3 class="text-xl font-bold mb-4">Ethereum (ETH)</h3>
                <pre class="text-sm bg-gray-100 p-4 rounded-lg crypto-address">0x7905f78cE79f8A951B92909A24ee55f0fB154C06</pre>
                <button onclick="navigator.clipboard.writeText('0x7905f78cE79f8A951B92909A24ee55f0fB154C06')" class="bg-blue-600 text-white px-4 py-2 rounded-lg mt-4">کپی آدرس</button>
            </div>
            <div class="bg-white p-8 rounded-2xl shadow-lg border border-gray-100">
                <h3 class="text-xl font-bold mb-4">Tron (TRX)</h3>
                <pre class="text-sm bg-gray-100 p-4 rounded-lg crypto-address">TM4HtaVunB2VNoZ19hfzTnXgpPpDsvMbd2</pre>
                <button onclick="navigator.clipboard.writeText('TM4HtaVunB2VNoZ19hfzTnXgpPpDsvMbd2')" class="bg-blue-600 text-white px-4 py-2 rounded-lg mt-4">کپی آدرس</button>
            </div>
            <div class="bg-white p-8 rounded-2xl shadow-lg border border-gray-100">
                <h3 class="text-xl font-bold mb-4">Toncoin (TON)</h3>
                <pre class="text-sm bg-gray-100 p-4 rounded-lg crypto-address">UQAyVhowpAHuH-WexQZ1zqPYGzul70Qovg508a8uhw3-BgCj</pre>
                <button onclick="navigator.clipboard.writeText('UQAyVhowpAHuH-WexQZ1zqPYGzul70Qovg508a8uhw3-BgCj')" class="bg-blue-600 text-white px-4 py-2 rounded-lg mt-4">کپی آدرس</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}